element.style {
}
.banner img {
width: 100%;
position: fixed;
margin-top: -5em;
z-index: -10;
}
img {
border: 0;
}


.logo {
	margin-left: 1500px;
	margin-top: 200px;
	margin-bottom: 100px;

}

.ui.red.inverted.segment {
	width: 950px;
	position: center;
	

}

iframe {
	width: 400px;
	margin-left: 1000px;
	

}

.nav{
	margin-left: 1500px;
}
.meun{
	margin-top: 400px;
}

.ui.inverted.circular.segment{
	width: 200px;



}

.container{
	width: 200px;
}

.uisteps {

	width: 400px;
	margin-left: 750px;
}

.one{
	width: 500px;
	height: 500px;
}